 .project-section-x84v8p {
  background-color: transparent;
  height: 1720px;
  left: 160px;
  position: absolute;
  top: 1693px;
  width: 1053px;
}
.page-header-HtllH9 {
  background-color: transparent;
  height: 198px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 511px;
}
.we-have-completed-ma-qab78l {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 54px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 36px;
  width: 507px;
}
.projects-qab78l {
  background-color: transparent;
  color: var(--bright-turquoise);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 0px;
  letter-spacing: 1.60px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}
.horizontal-line-HtllH9 {
  background-color: var(--white-3);
  height: 1px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 287px;
  width: 1024px;
}
.field-HtllH9 {
  background-color: transparent;
  border-radius: 2px;
  height: 50px;
  left: 849px;
  mix-blend-mode: normal;
  position: absolute;
  top: 91px;
  width: 174px;
}
.rectangle-118-c16WsK {
  background-color: transparent;
  border-radius: 20px;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 174px;
}

.chevron-down-c16WsK {
  background-color: transparent;
  height: 22px;
  left: 129px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 18px;
}
.technology-c16WsK {
  background-color: transparent;
  color: #ffffff66;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  width: 93px;
}
.project-container-HtllH9 {
  background-color: transparent;
  height: 636px;
  left: 551px;
  position: absolute;
  top: 1084px;
  width: 502px;
}
.button-i3bdVD {
  background-color: transparent;
  height: 60px;
  left: 169px;
  position: absolute;
  top: 576px;
  width: 167px;
}
.rectangle-51-qN1WAI {
  background-color: transparent;
  height: 67px;
  left: -3px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 171px;
}
.explore-more-qN1WAI {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: 20.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 0px 4px #ffffff40;
  top: 23px;
  white-space: nowrap;
  width: auto;
}
.group-22-i3bdVD {
  background-color: transparent;
  height: 559px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 506px;
}
.rectangle-45-CvsP54 {
  background-color: var(--white-6);
  border-radius: 20px;
  box-shadow: 0px 30px 60px #5f16fb08;
  height: 441px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 502px;
}
.the-mobile-app-landing-page-CvsP54 {
  background-color: transparent;
  color: var(--white-4);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 34px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 481px;
  white-space: nowrap;
  width: 358px;
}
.a-landing-page-for-mobile-app-CvsP54 {
  background-color: transparent;
  height: auto;
  left: 124px;
  letter-spacing: 0.00px;
  line-height: 34px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 525px;
  white-space: nowrap;
  width: auto;
}
.rectangle-46-i3bdVD {
  background-color: transparent;
  height: 256px;
  left: 154px;
  mix-blend-mode: normal;
  position: absolute;
  top: 185px;
  width: 194px;
}
.rectangle-47-i3bdVD {
  background-color: var(--white-4);
  border-radius: 100px;
  height: 26px;
  left: 174px;
  mix-blend-mode: normal;
  position: absolute;
  top: 53px;
  width: 154px;
}
.rectangle-48-i3bdVD {
  background-color: var(--white-4);
  border-radius: 100px;
  height: 26px;
  left: 204px;
  mix-blend-mode: normal;
  position: absolute;
  top: 93px;
  width: 94px;
}
.project-container-9g2WtZ {
  background-color: transparent;
  height: 633px;
  left: 29px;
  position: absolute;
  top: 378px;
  width: 502px;
}
.button-tqFaiQ {
  background-color: transparent;
  height: 60px;
  left: 154px;
  position: absolute;
  top: 573px;
  width: 167px;
}
.rectangle-53-gxRBtU {
  background-color: transparent;
  height: 67px;
  left: -3px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 171px;
}
.explore-more-gxRBtU {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: 20.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 0px 4px #ffffff40;
  top: 23px;
  white-space: nowrap;
  width: auto;
}
.group-22-tqFaiQ {
  background-color: transparent;
  height: 559px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 506px;
}
.rectangle-45-NtSxxa {
  background-color: var(--white-6);
  border-radius: 20px;
  box-shadow: 0px 30px 60px #5f16fb08;
  height: 441px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 502px;
}
.project-title-NtSxxa {
  background-color: transparent;
  color: var(--white-4);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 34px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 481px;
  white-space: nowrap;
  width: 358px;
}
.a-landing-page-for-desktop-app-NtSxxa {
  background-color: transparent;
  height: auto;
  left: 118px;
  letter-spacing: 0.00px;
  line-height: 34px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 525px;
  white-space: nowrap;
  width: auto;
}
.rectangle-46-tqFaiQ {
  background-color: transparent;
  height: 256px;
  left: 67px;
  mix-blend-mode: normal;
  position: absolute;
  top: 185px;
  width: 368px;
}
.rectangle-47-tqFaiQ {
  background-color: var(--white-4);
  border-radius: 100px;
  height: 26px;
  left: 174px;
  mix-blend-mode: normal;
  position: absolute;
  top: 53px;
  width: 154px;
}
.rectangle-48-tqFaiQ {
  background-color: var(--white-4);
  border-radius: 100px;
  height: 26px;
  left: 204px;
  mix-blend-mode: normal;
  position: absolute;
  top: 93px;
  width: 94px;
}
.project-container-s9SvQE {
  background-color: transparent;
  height: 636px;
  left: 29px;
  position: absolute;
  top: 1084px;
  width: 502px;
}
.button-ZrBd55 {
  background-color: transparent;
  height: 60px;
  left: 154px;
  position: absolute;
  top: 576px;
  width: 167px;
}
.rectangle-50-X17HAk {
  background-color: transparent;
  height: 67px;
  left: -3px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 171px;
}
.explore-more-X17HAk {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: 20.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 0px 4px #ffffff40;
  top: 23px;
  white-space: nowrap;
  width: auto;
}
.group-22-ZrBd55 {
  background-color: transparent;
  height: 559px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 506px;
}
.rectangle-45-XtuaxB {
  background-color: var(--white-6);
  border-radius: 20px;
  box-shadow: 0px 30px 60px #5f16fb08;
  height: 441px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 502px;
}
.the-desktop-app-landing-page-XtuaxB {
  background-color: transparent;
  color: var(--white-4);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 34px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 481px;
  white-space: nowrap;
  width: 358px;
}
.a-landing-page-for-desktop-app-XtuaxB {
  background-color: transparent;
  height: auto;
  left: 118px;
  letter-spacing: 0.00px;
  line-height: 34px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 525px;
  white-space: nowrap;
  width: auto;
}
.rectangle-46-ZrBd55 {
  background-color: transparent;
  height: 256px;
  left: 67px;
  mix-blend-mode: normal;
  position: absolute;
  top: 185px;
  width: 368px;
}
.rectangle-47-ZrBd55 {
  background-color: var(--white-4);
  border-radius: 100px;
  height: 26px;
  left: 174px;
  mix-blend-mode: normal;
  position: absolute;
  top: 53px;
  width: 154px;
}
.rectangle-48-ZrBd55 {
  background-color: var(--white-4);
  border-radius: 100px;
  height: 26px;
  left: 204px;
  mix-blend-mode: normal;
  position: absolute;
  top: 93px;
  width: 94px;
}
.project-container-ik3exx {
  background-color: transparent;
  height: 633px;
  left: 551px;
  position: absolute;
  top: 378px;
  width: 502px;
}
.group-22-EtJkwr {
  background-color: transparent;
  height: 559px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 506px;
}
.rectangle-45-xNlsOc {
  background-color: var(--white-6);
  border-radius: 20px;
  box-shadow: 0px 30px 60px #5f16fb08;
  height: 441px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 502px;
}
.the-desktop-app-landing-page-xNlsOc {
  background-color: transparent;
  color: var(--white-4);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 34px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 481px;
  white-space: nowrap;
  width: 358px;
}
.a-landing-page-for-desktop-app-xNlsOc {
  background-color: transparent;
  height: auto;
  left: 118px;
  letter-spacing: 0.00px;
  line-height: 34px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 525px;
  white-space: nowrap;
  width: auto;
}
.rectangle-46-EtJkwr {
  background-color: transparent;
  height: 256px;
  left: 67px;
  mix-blend-mode: normal;
  position: absolute;
  top: 185px;
  width: 368px;
}
.rectangle-47-EtJkwr {
  background-color: var(--white-4);
  border-radius: 100px;
  height: 26px;
  left: 174px;
  mix-blend-mode: normal;
  position: absolute;
  top: 53px;
  width: 154px;
}
.rectangle-48-EtJkwr {
  background-color: var(--white-4);
  border-radius: 100px;
  height: 26px;
  left: 204px;
  mix-blend-mode: normal;
  position: absolute;
  top: 93px;
  width: 94px;
}
.button-EtJkwr {
  background-color: transparent;
  height: 60px;
  left: 163px;
  position: absolute;
  top: 573px;
  width: 167px;
}
.rectangle-21-f8K2Lv {
  background-color: transparent;
  height: 67px;
  left: -3px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 171px;
}
.explore-more-f8K2Lv {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: 20.4px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 0px 4px #ffffff40;
  top: 23px;
  white-space: nowrap;
  width: auto;
}

:root {
  --black: #000000;
  --bon-jour: #e0e0e0;
  --bright-turquoise: #16fbd2;
  --heather: #b5bccc;
  --suva-gray: #888888;
  --white: #ffffff;
  --white-2: #ffffff99;
  --white-3: #ffffff1a;
  --white-4: #ffffff33;
  --white-5: #ffffff0d;
  --white-6: #ffffff24;
  --white-7: #ffffff0a;
  --font-size-l: 20px;
  --font-size-m: 16px;
  --font-size-s: 13.2px;
  --font-size-xl: 30px;
  --font-size-xs: 12px;
  --font-size-xxs: 10.2px;
  --font-size-xxxs: 8.2px;
  --font-family-arial-regular: "Arial-Regular", Helvetica;
  --font-family-ibm_plex_mono: "IBM Plex Mono", Helvetica;
  --font-family-montserrat: "Montserrat", Helvetica;
  --font-family-noto_sans: "Noto Sans", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
  --font-family-prompt: "Prompt", Helvetica;
}