.banner-2-x84v8p {
    background-color: transparent;
    block-size: 597px;
    inset-inline-start: -16px;
    position: absolute;
    inset-block-start: 3881px;
    inline-size: 1440px;
}
.group-120-F32aCg {
    background-color: transparent;
    block-size: 597px;
    inset-inline-start: 0px;
    position: relative;
    inset-block-start: 0px;
    inline-size: 1454px;
}
.rectangle-162-MAverr {
    background-color: var(--white-5);
    block-size: 597px;
    inset-inline-start: 0px;
    mix-blend-mode: normal;
    position: absolute;
    inset-block-start: 0px;
    inline-size: 1440px;
}
.join-us-MAverr {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    block-size: auto;
    inset-inline-start: 192px;
    letter-spacing: 0px;
    line-height: 34.4px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: start;
    inset-block-start: 81px;
    white-space: nowrap;
    inline-size: 155px;
}
.button-MAverr {
    background-color: transparent;
    block-size: 60px;
    inset-inline-start: 192px;
    position: absolute;
    inset-block-start: 439px;
    inline-size: 167px;
}
.rectangle-52-yWnarx {
    background-color: transparent;
    block-size: 67px;
    inset-inline-start: -3px;
    mix-blend-mode: normal;
    position: absolute;
    inset-block-start: 0px;
    inline-size: 171px;
}
.explore-more-yWnarx {
    background-color: transparent;
    block-size: auto;
    inset-inline-start: 19px;
    letter-spacing: 0px;
    line-height: 20.4px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    text-shadow: 0px 0px 4px #ffffff40;
    inset-block-start: 23px;
    white-space: nowrap;
    inline-size: auto;
}
.vector-10-MAverr {
    background-color: transparent;
    block-size: 3px;
    inset-inline-start: 192px;
    position: absolute;
    inset-block-start: 55px;
    inline-size: 446px;
}
.rectangle-88-MAverr {
    background-color: #1a2747;
    block-size: 301px;
    inset-inline-start: 751px;
    mix-blend-mode: normal;
    position: absolute;
    inset-block-start: 184px;
    inline-size: 569px;
}
.java-MAverr {
    background-color: transparent;
    block-size: auto;
    inset-inline-start: 1199px;
    letter-spacing: 0px;
    line-height: 17.2px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: start;
    inset-block-start: 146px;
    white-space: nowrap;
    inline-size: 35px;
}
.node-MAverr {
    background-color: transparent;
    block-size: auto;
    inset-inline-start: 1115px;
    letter-spacing: 0px;
    line-height: 17.2px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: start;
    inset-block-start: 146px;
    white-space: nowrap;
    inline-size: 53px;
}
.curl-MAverr {
    background-color: transparent;
    block-size: auto;
    inset-inline-start: 1265px;
    letter-spacing: 0px;
    line-height: 17.2px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: start;
    inset-block-start: 146px;
    white-space: nowrap;
    inline-size: 39px;
}
.rectangle-89-MAverr {
    background-color: #141527;
    border-radius: 8px;
    block-size: 91px;
    inset-inline-start: 1304px;
    mix-blend-mode: normal;
    position: absolute;
    inset-block-start: 199px;
    inline-size: 7px;
}
.be-a-part-of-our-happy-community-MAverr {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    block-size: auto;
    inset-inline-start: 192px;
    letter-spacing: 0px;
    line-height: 35.7px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: start;
    inset-block-start: 211px;
    inline-size: 377px;
}
.we-take-immense-prid-MAverr {
    background-color: transparent;
    block-size: auto;
    inset-inline-start: 192px;
    letter-spacing: 0px;
    line-height: 19.7px;
    mix-blend-mode: normal;
    opacity: 0.5;
    position: absolute;
    text-align: start;
    inset-block-start: 302px;
    inline-size: 357px;
}
.response-stub-post-m-MAverr {
    background-color: transparent;
    color: white;
    font-family: var(--font-family-arial-regular);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 400;
    block-size: auto;
    inset-inline-start: 769px;
    letter-spacing: 0px;
    line-height: 14.8px;
    position: absolute;
    text-align: start;
    inset-block-start: 199px;
    inline-size: 493px;
}
.span0-bDqiNA {
    font-style: normal;
}
.span1-bDqiNA {
    color: #39fc7b;
    font-style: normal;
}
.span2-bDqiNA {
    font-style: normal;
}
.span3-bDqiNA {
    color: #49fd86;
    font-style: normal;
}
.span4-bDqiNA {
    font-style: normal;
}

:root {
    --black: #000000;
    --bon-jour: #e0e0e0;
    --bright-turquoise: #16fbd2;
    --heather: #b5bccc;
    --suva-gray: #888888;
    --white: #ffffff;
    --white-2: #ffffff99;
    --white-3: #ffffff1a;
    --white-4: #ffffff33;
    --white-5: #ffffff0d;
    --white-6: #ffffff24;
    --white-7: #ffffff0a;
    --font-size-l: 20px;
    --font-size-m: 16px;
    --font-size-s: 13.2px;
    --font-size-xl: 30px;
    --font-size-xs: 12px;
    --font-size-xxs: 10.2px;
    --font-size-xxxs: 8.2px;
    --font-family-arial-regular: "Arial-Regular", Helvetica;
    --font-family-ibm_plex_mono: "IBM Plex Mono", Helvetica;
    --font-family-montserrat: "Montserrat", Helvetica;
    --font-family-noto_sans: "Noto Sans", Helvetica;
    --font-family-poppins: "Poppins", Helvetica;
    --font-family-prompt: "Prompt", Helvetica;
}
