.contact-us-x84v8p {
    background-color: transparent;
    height: 603px;
    left: 181px;
    position: absolute;
    top: 6721px;
    width: 1033px;
}
.rectangle-56-pcnv1g {
    background-color: transparent;
    height: 67px;
    left: 745px;
    mix-blend-mode: normal;
    position: absolute;
    top: 514px;
    width: 171px;
}
.screen * {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
.send-messege-pcnv1g {
    background-color: transparent;
    height: auto;
    left: 762px;
    letter-spacing: 0px;
    line-height: 20.4px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    text-shadow: 0px 0px 4px #ffffff40;
    top: 537px;
    white-space: nowrap;
    width: auto;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-bold-white-17px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
}
.page-header-pcnv1g {
    background-color: transparent;
    height: 427px;
    left: 7px;
    position: absolute;
    top: 131px;
    width: 541px;
}
.title-U1m1Pa {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 0px;
    letter-spacing: 0px;
    line-height: 54px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 45px;
    width: 537px;
}
.contact-U1m1Pa {
    background-color: transparent;
    color: var(--bright-turquoise);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 600;
    height: auto;
    left: 0px;
    letter-spacing: 1.6px;
    line-height: 32px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: auto;
}
.icon-list-U1m1Pa {
    background-color: transparent;
    height: 70px;
    left: 2px;
    mix-blend-mode: normal;
    position: absolute;
    top: 257px;
    width: 235px;
}
.frame-9-MToMSj {
    background-color: transparent;
    height: 70px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 70px;
}
.key-MToMSj {
    background-color: transparent;
    height: auto;
    left: 98px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 10px;
    width: auto;
}
.value-MToMSj {
    background-color: transparent;
    height: auto;
    left: 93px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 37px;
    width: auto;
}
.icon-list-5V3KwH {
    background-color: transparent;
    height: 70px;
    left: 2px;
    mix-blend-mode: normal;
    position: absolute;
    top: 357px;
    width: 303px;
}
.frame-10-LBC6VB {
    background-color: transparent;
    height: 70px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 70px;
}
.email-LBC6VB {
    background-color: transparent;
    height: auto;
    left: 98px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 10px;
    width: auto;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-medium-white-16px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
}
a {
    display: contents;
    text-decoration: none;
}
.horizontal-line-pcnv1g {
    background-color: var(--white-3);
    height: 1px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 1024px;
}
.contact-form-pcnv1g {
    background-color: transparent;
    height: 508px;
    left: 619px;
    position: absolute;
    top: 95px;
    width: 412px;
}
.rectangle-8-xdHbLA {
    background-color: var(--white-5);
    border-radius: 14px;
    height: 508px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 412px;
}
.field-xdHbLA {
    background-color: transparent;
    height: 65px;
    left: 36px;
    mix-blend-mode: normal;
    position: absolute;
    top: 52px;
    width: 162px;
}
.form-control-GEeyrG {
    background-color: transparent;
    border-radius: 3px;
    height: 40px;
    left: 1px;
    position: absolute;
    top: 25px;
    width: 160px;
}
.label-GEeyrG {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: auto;
}
.field-ncZGSE {
    background-color: transparent;
    height: 65px;
    left: 36px;
    mix-blend-mode: normal;
    position: absolute;
    top: 145px;
    width: 341px;
}
.form-control-6dPP9k {
    background-color: transparent;
    border-radius: 3px;
    height: 40px;
    left: 2px;
    position: absolute;
    top: 25px;
    width: 339px;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.border-1px-white-3 {
    border: 1px solid var(--white-3);
}
.label-6dPP9k {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: auto;
}

.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-normal-white-14px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.field-sJ7XTo {
    background-color: transparent;
    height: 155px;
    left: 36px;
    mix-blend-mode: normal;
    position: absolute;
    top: 238px;
    width: 342px;
}
.rectangle-117-QgqLUe {
    background-color: transparent;
    border-radius: 3px;
    height: 130px;
    left: 1px;
    position: absolute;
    top: 25px;
    width: 341px;
}

.screen div {
    -webkit-text-size-adjust: none;
}
.border-1px-white-3 {
    border: 1px solid var(--white-3);
}
.tell-us-your-problem-QgqLUe {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: auto;
}

.montserrat-normal-white-14px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.field-2F4YlQ {
    background-color: transparent;
    height: 65px;
    left: 215px;
    mix-blend-mode: normal;
    position: absolute;
    top: 52px;
    width: 162px;
}

.form-control-CuCdml {
    background-color: transparent;
    border-radius: 3px;
    height: 40px;
    left: 1px;
    position: absolute;
    top: 25px;
    width: 160px;
}

.border-1px-white-3 {
    border: 1px solid var(--white-3);
}
.label-CuCdml {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: auto;
}

.montserrat-normal-white-14px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.support-merk-labstld-LBC6VB {
    background-color: transparent;
    cursor: pointer;
    height: auto;
    left: 98px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 37px;
    width: auto;
}

:root {
    --black: #000000;
    --bon-jour: #e0e0e0;
    --bright-turquoise: #16fbd2;
    --heather: #b5bccc;
    --suva-gray: #888888;
    --white: #ffffff;
    --white-2: #ffffff99;
    --white-3: #ffffff1a;
    --white-4: #ffffff33;
    --white-5: #ffffff0d;
    --white-6: #ffffff24;
    --white-7: #ffffff0a;
    --font-size-l: 20px;
    --font-size-m: 16px;
    --font-size-s: 13.2px;
    --font-size-xl: 30px;
    --font-size-xs: 12px;
    --font-size-xxs: 10.2px;
    --font-size-xxxs: 8.2px;
    --font-family-arial-regular: "Arial-Regular", Helvetica;
    --font-family-ibm_plex_mono: "IBM Plex Mono", Helvetica;
    --font-family-montserrat: "Montserrat", Helvetica;
    --font-family-noto_sans: "Noto Sans", Helvetica;
    --font-family-poppins: "Poppins", Helvetica;
    --font-family-prompt: "Prompt", Helvetica;
}
