.footer-x84v8p {
    background-color: transparent;
    height: 604px;
    left: 181px;
    position: absolute;
    top: 7518px;
    width: 1096px;
}
.copyright-2021-design-by-merk-labs-gPmFvE {
    background-color: transparent;
    height: auto;
    left: 24px;
    letter-spacing: 0px;
    line-height: 32px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 400px;
    width: 250px;
}
.montserrat-medium-white-16px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
}
.screen * {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.services-gPmFvE {
    background-color: transparent;
    height: auto;
    left: 285px;
    letter-spacing: 1.4px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 348px;
    width: auto;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-medium-white-14px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
.company-gPmFvE {
    background-color: transparent;
    height: auto;
    left: 546px;
    letter-spacing: 1.4px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 348px;
    width: auto;
}

.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-medium-white-14px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
.resources-gPmFvE {
    background-color: transparent;
    height: auto;
    left: 807px;
    letter-spacing: 1.4px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 348px;
    width: auto;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-medium-white-14px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
.web-development-gPmFvE {
    background-color: transparent;
    height: auto;
    left: 285px;
    letter-spacing: 0px;
    line-height: 28px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 386px;
    white-space: nowrap;
    width: auto;
}

.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-normal-white-16px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}
.about-gPmFvE {
    background-color: transparent;
    height: auto;
    left: 546px;
    letter-spacing: 0px;
    line-height: 28px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 386px;
    white-space: nowrap;
    width: auto;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-normal-white-16px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}
.support-gPmFvE {
    background-color: transparent;
    height: auto;
    left: 807px;
    letter-spacing: 0px;
    line-height: 28px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 386px;
    white-space: nowrap;
    width: auto;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-normal-white-16px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}
.app-development-gPmFvE {
    background-color: transparent;
    height: auto;
    left: 285px;
    letter-spacing: 0px;
    line-height: 28px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 424px;
    white-space: nowrap;
    width: auto;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-normal-white-16px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}
.contact-gPmFvE {
    background-color: transparent;
    height: auto;
    left: 546px;
    letter-spacing: 0px;
    line-height: 28px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 424px;
    white-space: nowrap;
    width: auto;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-normal-white-16px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}
.documentation-gPmFvE {
    background-color: transparent;
    height: auto;
    left: 807px;
    letter-spacing: 0px;
    line-height: 28px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 424px;
    white-space: nowrap;
    width: auto;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-normal-white-16px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}
.ui-design-gPmFvE {
    background-color: transparent;
    height: auto;
    left: 285px;
    letter-spacing: 0px;
    line-height: 28px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 462px;
    white-space: nowrap;
    width: auto;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-normal-white-16px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}
.send-quote-gPmFvE {
    background-color: transparent;
    height: auto;
    left: 546px;
    letter-spacing: 0px;
    line-height: 28px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 462px;
    white-space: nowrap;
    width: auto;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-normal-white-16px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}
.license-gPmFvE {
    background-color: transparent;
    height: auto;
    left: 807px;
    letter-spacing: 0px;
    line-height: 28px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 462px;
    white-space: nowrap;
    width: auto;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-normal-white-16px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}
.consultation-gPmFvE {
    background-color: transparent;
    height: auto;
    left: 285px;
    letter-spacing: 0px;
    line-height: 28px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 500px;
    white-space: nowrap;
    width: auto;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-normal-white-16px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}
.privacy-policy-gPmFvE {
    background-color: transparent;
    height: auto;
    left: 546px;
    letter-spacing: 0px;
    line-height: 28px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 500px;
    white-space: nowrap;
    width: auto;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-normal-white-16px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}
.sitemap-gPmFvE {
    background-color: transparent;
    height: auto;
    left: 807px;
    letter-spacing: 0px;
    line-height: 28px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 500px;
    white-space: nowrap;
    width: auto;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-normal-white-16px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}
.maintenance-gPmFvE {
    background-color: transparent;
    height: auto;
    left: 285px;
    letter-spacing: 0px;
    line-height: 28px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 538px;
    white-space: nowrap;
    width: auto;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-normal-white-16px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}
.term-of-service-gPmFvE {
    background-color: transparent;
    height: auto;
    left: 546px;
    letter-spacing: 0px;
    line-height: 28px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 538px;
    white-space: nowrap;
    width: auto;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-normal-white-16px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}
.jobs-gPmFvE {
    background-color: transparent;
    height: auto;
    left: 546px;
    letter-spacing: 0px;
    line-height: 28px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 576px;
    white-space: nowrap;
    width: auto;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.montserrat-normal-white-16px {
    color: var(--white-2);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}
.merk-gPmFvE {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 65px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 351px;
    width: auto;
}
.vector-gPmFvE {
    background-color: transparent;
    height: 24px;
    left: 26px;
    position: absolute;
    top: 351px;
    width: 24px;
}
