.review-x84v8p {
    background-color: transparent;
    height: 677px;
    left: 121px;
    position: absolute;
    top: 5682px;
    width: 1154px;
}
.group-438-PbzpkY {
    background-color: transparent;
    height: 254px;
    left: 328px;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    width: 274px;
}
.ellipse-2-BMDu6S {
    background-color: transparent;
    border: 1px solid #532053;
    border-radius: 119.22px/72.61px;
    height: 145px;
    left: 18px;
    position: absolute;
    top: 54px;
    width: 238px;
}
.ellipse-3-BMDu6S {
    background-color: transparent;
    border: 1px solid #532053;
    border-radius: 121.54px/71.37px;
    height: 143px;
    left: 15px;
    position: absolute;
    top: 56px;
    transform: rotate(-31.84deg);
    width: 243px;
}
.we-love-developers-PbzpkY {
    background-color: transparent;
    color: #608dff;
    font-family: var(--font-family-montserrat);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 463px;
    letter-spacing: 0px;
    line-height: 65px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: right;
    top: 106px;
    white-space: nowrap;
    width: auto;
}
.nullam-varius-portti-PbzpkY {
    background-color: transparent;
    height: auto;
    left: 403px;
    letter-spacing: 0px;
    line-height: 40px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 197px;
    width: 378px;
}
.slide-menu-PbzpkY {
    background-color: transparent;
    height: 286px;
    left: 0px;
    position: absolute;
    top: 359px;
    width: 370px;
}
.glass-box-tI8L1b {
    background-color: transparent;
    height: 290px;
    left: -2px;
    mix-blend-mode: normal;
    position: absolute;
    top: -2px;
    width: 374px;
}
.lorem-ipsum-is-simpl-PbzpkY {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxs);
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 18px;
    letter-spacing: 0.31px;
    line-height: 32.6px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 415px;
    transform: rotate(-0.01deg);
    width: 362px;
}
.slide-menu-DyEEQd {
    background-color: transparent;
    height: 286px;
    left: 764px;
    position: absolute;
    top: 359px;
    width: 370px;
}
.glass-box-990Nwx {
    background-color: transparent;
    height: 290px;
    left: -2px;
    mix-blend-mode: normal;
    position: absolute;
    top: -2px;
    width: 374px;
}
.screen * {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
.screen div {
    -webkit-text-size-adjust: none;
}
.group-441-PbzpkY {
    background-color: transparent;
    height: 252px;
    left: 761px;
    position: absolute;
    top: 388px;
    width: 368px;
}
.lorem-ipsum-is-simpl-kMKnTB {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxxs);
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 0px;
    letter-spacing: 0.25px;
    line-height: 32.6px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 26px;
    transform: rotate(-0.01deg);
    width: 362px;
}
.group-440-kMKnTB {
    background-color: transparent;
    height: 49px;
    left: 146px;
    position: absolute;
    top: 156px;
    transform: rotate(0.04deg);
    width: 42px;
}
.ellipse-8-Z0qHCh {
    background-color: transparent;
    height: 73px;
    left: -15px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: -8px;
    transform: rotate(-0.04deg);
    width: 73px;
}
.ellipse-9-Z0qHCh {
    background-color: transparent;
    height: 45px;
    left: 0px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: 0px;
    transform: rotate(-0.04deg);
    width: 42px;
}
.john-smith-kMKnTB {
    background-color: transparent;
    color: var(--bon-jour);
    font-family: var(--font-family-montserrat);
    font-size: 14.3px;
    font-style: normal;
    font-weight: 500;
    height: 28px;
    left: 118px;
    letter-spacing: 0.72px;
    line-height: 27.5px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 205px;
    transform: rotate(-0.01deg);
    white-space: nowrap;
    width: auto;
}
.founder-of-awesomeux-technology-kMKnTB {
    background-color: transparent;
    color: var(--heather);
    font-family: var(--font-family-montserrat);
    font-size: 11.5px;
    font-style: normal;
    font-weight: 300;
    height: 28px;
    left: 65px;
    letter-spacing: 0px;
    line-height: 27.5px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 224px;
    transform: rotate(-0.01deg);
    white-space: nowrap;
    width: auto;
}
.blog-blocks-kMKnTB {
    background-color: transparent;
    height: 20px;
    left: 8px;
    position: absolute;
    top: 0px;
    width: 145px;
}
.group-372-vCYxAx {
    background-color: transparent;
    height: 20px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 149px;
}
.x19-augs-2018-by-j-EIo6cB {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0px;
    line-height: 20px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: auto;
}
.technology-EIo6cB {
    background-color: transparent;
    height: auto;
    left: 79px;
    letter-spacing: 0px;
    line-height: 17px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: auto;
}
.rectangle-EIo6cB {
    background-color: transparent;
    border-radius: 5px;
    height: 15px;
    left: 68px;
    position: absolute;
    top: 0px;
    width: 1px;
}
.slide-menu-JnomxG {
    background-color: transparent;
    height: 358px;
    left: 335px;
    position: absolute;
    top: 319px;
    width: 465px;
}
.glass-box-YBfsjs {
    background-color: transparent;
    height: 362px;
    left: -2px;
    mix-blend-mode: normal;
    position: absolute;
    top: -2px;
    width: 469px;
}
.lorem-ipsum-is-simpl-DyEEQd {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 394px;
    letter-spacing: 0.4px;
    line-height: 32.6px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 389px;
    transform: rotate(-0.01deg);
    width: 362px;
}
.group-5-PbzpkY {
    background-color: transparent;
    height: 62px;
    left: 539px;
    position: absolute;
    top: 555px;
    transform: rotate(0.04deg);
    width: 53px;
}
.ellipse-8-cbmQnO {
    background-color: transparent;
    height: 91px;
    left: -17px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: -13px;
    transform: rotate(-0.04deg);
    width: 88px;
}
.ellipse-9-cbmQnO {
    background-color: transparent;
    height: 51px;
    left: 1px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: 0px;
    transform: rotate(-0.04deg);
    width: 51px;
}
.image-PbzpkY {
    background-color: transparent;
    height: 26px;
    left: 361px;
    mix-blend-mode: normal;
    position: absolute;
    top: 390px;
    width: 32px;
}
.john-smith-PbzpkY {
    background-color: transparent;
    color: var(--bon-jour);
    font-family: var(--font-family-montserrat);
    font-size: 16.3px;
    font-style: normal;
    font-weight: 500;
    height: 28px;
    left: 509px;
    letter-spacing: 0.82px;
    line-height: 27.5px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 614px;
    transform: rotate(-0.01deg);
    white-space: nowrap;
    width: auto;
}
.founder-of-awesomeux-technology-PbzpkY {
    background-color: transparent;
    color: var(--heather);
    font-family: var(--font-family-montserrat);
    font-size: 14.5px;
    font-style: normal;
    font-weight: 300;
    height: 28px;
    left: 437px;
    letter-spacing: 0px;
    line-height: 27.5px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 636px;
    transform: rotate(-0.01deg);
    white-space: nowrap;
    width: auto;
}
.group-442-PbzpkY {
    background-color: transparent;
    height: 49px;
    left: 164px;
    position: absolute;
    top: 545px;
    transform: rotate(0.04deg);
    width: 42px;
}

.ellipse-8-HuOoXO {
    background-color: transparent;
    height: 73px;
    left: -15px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: -8px;
    transform: rotate(-0.04deg);
    width: 73px;
}
.ellipse-9-HuOoXO {
    background-color: transparent;
    height: 45px;
    left: 0px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: 0px;
    transform: rotate(-0.04deg);
    width: 42px;
}
.john-smith-DyEEQd {
    background-color: transparent;
    color: var(--bon-jour);
    font-family: var(--font-family-prompt);
    font-size: 14.3px;
    font-style: normal;
    font-weight: 500;
    height: 28px;
    left: 140px;
    letter-spacing: 0.72px;
    line-height: 27.5px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 594px;
    transform: rotate(-0.01deg);
    white-space: nowrap;
    width: auto;
}

.founder-of-awesomeux-technology-DyEEQd {
    background-color: transparent;
    color: var(--heather);
    font-family: var(--font-family-ibm_plex_mono);
    font-size: 11.5px;
    font-style: normal;
    font-weight: 300;
    height: 28px;
    left: 78px;
    letter-spacing: 0px;
    line-height: 27.5px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 613px;
    transform: rotate(-0.01deg);
    white-space: nowrap;
    width: auto;
}
.blog-blocks-PbzpkY {
    background-color: transparent;
    height: 20px;
    left: 373px;
    position: absolute;
    top: 346px;
    width: 145px;
}
.group-372-I7FwsR {
    background-color: transparent;
    height: 20px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 149px;
}
.x19-augs-2018-by-j-COtVZF {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0px;
    line-height: 20px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: auto;
}
.technology-COtVZF {
    background-color: transparent;
    height: auto;
    left: 79px;
    letter-spacing: 0px;
    line-height: 17px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: auto;
}
.rectangle-COtVZF {
    background-color: transparent;
    border-radius: 5px;
    height: 15px;
    left: 68px;
    position: absolute;
    top: 0px;
    width: 1px;
}
.blog-blocks-DyEEQd {
    background-color: transparent;
    height: 20px;
    left: 26px;
    position: absolute;
    top: 389px;
    width: 145px;
}
.group-372-klSEoE {
    background-color: transparent;
    height: 20px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 149px;
}
.x19-augs-2018-by-j-28i4Jx {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0px;
    line-height: 20px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: auto;
}
.technology-28i4Jx {
    background-color: transparent;
    height: auto;
    left: 79px;
    letter-spacing: 0px;
    line-height: 17px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: auto;
}
.rectangle-28i4Jx {
    background-color: transparent;
    border-radius: 5px;
    height: 15px;
    left: 68px;
    position: absolute;
    top: 0px;
    width: 1px;
}
.group-439-PbzpkY {
    background-color: transparent;
    height: 49px;
    left: 164px;
    position: absolute;
    top: 545px;
    transform: rotate(0.04deg);
    width: 42px;
}
.ellipse-8-uUYE7C {
    background-color: transparent;
    height: 73px;
    left: -15px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: -8px;
    transform: rotate(-0.04deg);
    width: 73px;
}

.ellipse-9-uUYE7C {
    background-color: transparent;
    height: 45px;
    left: 0px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: 0px;
    transform: rotate(-0.04deg);
    width: 42px;
}
.john-smith-JnomxG {
    background-color: transparent;
    color: var(--bon-jour);
    font-family: var(--font-family-montserrat);
    font-size: 14.3px;
    font-style: normal;
    font-weight: 500;
    height: 28px;
    left: 136px;
    letter-spacing: 0.72px;
    line-height: 27.5px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 594px;
    transform: rotate(-0.01deg);
    white-space: nowrap;
    width: auto;
}
.founder-of-awesomeux-technology-JnomxG {
    background-color: transparent;
    color: var(--heather);
    font-family: var(--font-family-montserrat);
    font-size: 11.5px;
    font-style: normal;
    font-weight: 300;
    height: 28px;
    left: 83px;
    letter-spacing: 0.00px;
    line-height: 27.5px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 613px;
    transform: rotate(-0.01deg);
    white-space: nowrap;
    width: auto;
}
.blog-blocks-JnomxG {
    background-color: transparent;
    height: 20px;
    left: 26px;
    position: absolute;
    top: 389px;
    width: 145px;
}
.group-372-qUWvLH {
    background-color: transparent;
    height: 20px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 149px;
}
.x19-augs-2018-by-j-HHobwC {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 20px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: auto;
}
.technology-HHobwC {
    background-color: transparent;
    height: auto;
    left: 79px;
    letter-spacing: 0.00px;
    line-height: 17px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: auto;
}
.rectangle-HHobwC {
    background-color: transparent;
    border-radius: 5px;
    height: 15px;
    left: 68px;
    position: absolute;
    top: 0px;
    width: 1px;
}

:root {
    --black: #000000;
    --bon-jour: #e0e0e0;
    --bright-turquoise: #16fbd2;
    --heather: #b5bccc;
    --suva-gray: #888888;
    --white: #ffffff;
    --white-2: #ffffff99;
    --white-3: #ffffff1a;
    --white-4: #ffffff33;
    --white-5: #ffffff0d;
    --white-6: #ffffff24;
    --white-7: #ffffff0a;
    --font-size-l: 20px;
    --font-size-m: 16px;
    --font-size-s: 13.2px;
    --font-size-xl: 30px;
    --font-size-xs: 12px;
    --font-size-xxs: 10.2px;
    --font-size-xxxs: 8.2px;
    --font-family-arial-regular: "Arial-Regular", Helvetica;
    --font-family-ibm_plex_mono: "IBM Plex Mono", Helvetica;
    --font-family-montserrat: "Montserrat", Helvetica;
    --font-family-noto_sans: "Noto Sans", Helvetica;
    --font-family-poppins: "Poppins", Helvetica;
    --font-family-prompt: "Prompt", Helvetica;
}
